{% extends "S_Dashboard.html" %}
{% block body %}
<!DOCTYPE html>
<html ng-app="myApp">
 <head>
   <style>
	    .list_data { margin-bottom: 2rem }
	    table, th, td { border: 1px solid #AAA }
	    th { cursor: pointer }
    </style>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

   <script>
        function setData(selectedData){
        var myJson=JSON.parse(selectedData)
        var product_type=myJson.Product_type;
        var product_description=myJson.product_description;
        document.getElementById("pType").value=product_type;
        document.getElementById("desc").value=product_description;
        document.forms["addProduct"]["Producttype"].value=product_type;

        
        }
        var app = angular.module("myApp", []);
        app.controller("FormCtrl", function($scope,$http) {
          var formData = {
                        product_type: "xyz",
                        price: "default",
                        quantity: "default",
                        delivery: "default",
                  };
        $scope.fetchData = function(){
        console.log("hi there");
            $http({
                method: 'POST',
                url: '/getProducts',
                headers: { 'Content-Type': 'application/json' },
            }).then(function(response) {
                $scope.products = response.data;
                
                console.log('mm', $scope.products);
                 }, function(error) {
                console.log(error);
            });
        }
        $scope.fetchData(); 
        $scope.save = function() {
        formData = $scope.form;
        };
        $scope.submitForm = function(){
        
          $scope.save();
          console.log($scope.selectedData);
          pro=JSON.parse($scope.selectedData)
          var inputInfo={
              formData: $scope.form,
              product: pro
          };
          $http({
                method: 'POST',
                url: '/addproduct',
                headers: { 'Content-Type': 'application/json' },
                data: {
                    info: inputInfo
                    
                    }
                
            }).then(function(response) {
                $('#recordAdded').modal('show')
                $scope.selectedData="";
                $scope.form.price="";
                $scope.form.quantity="";
                $scope.form.delivery="";
               }, function(error) {
                console.log(error);
            });
        }
    
        });
    </script>
 </head>
<body ng-controller="FormCtrl">

    <div class="panel panel-default">
        <div class="panel-heading" align="CENTER"><h3>Add Product</h3></div>
         <div class="modal fade" id="recordAdded" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="color:#3CF320;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel" >Product Added</h4>
                </div>
            </div>
        </div>
</div>
   <table class="table w3-light-grey" >
    <div>
        
            <form name="addProduct" method=POST ng-controller="FormCtrl" ng-submit="submitForm()">
            	<br/>
                <div>
                <label>Product Name*</label> 
                <select ng-model="selectedData" class="form-control" onChange=setData(this.value)>
                         <option ng-repeat="product in products"  value="{{'{{product}}'}}">
                         {{'{{product.product_name}}'}}
                         </option>
               </select>
             </div>
               <br>
                <div>
                <label>Product Type*</label><input type="text" id="pType" class="form-control" name="Producttype" placeholder="Product Type" disabled required>
                </div>
                <br>
				   <div>
                <label>Description*</label><input type="text" id="desc" class="form-control" name="description" placeholder="Description" disabled required>
                </div>
                <br>
				   <div>
                <label>Price/Quantity*</label><input type="number" class="form-control" name="price" placeholder="Price/Quantity" ng-model= "form.price" required>
                </div>
                <br>
				   <div>
                <label>Quantity Available*</label><input type="number"  class="form-control" name="quantity" placeholder="Quantity Available" ng-model= "form.quantity" required>
                </div>
				   <br>
				    <div>
                 <label>Delivery Within Days*</label><input type="number" class="form-control" name="delivery" placeholder="Delivery Within Days" ng-model= "form.delivery" required>
                 </div>
                <br>
                 <span align ="CENTER"><input type="submit" ngClick="Submit" ></span>
            </form>
            <br>
        </div>
    
        </table>
    </div>
</div>
{% endblock %}