{% extends "S_Dashboard.html" %}
{% block body %}

<script>
$(document).ready(function(){
    $('#addPopUp').modal('show')
});
</script>

<div class="w3-container w3-display-middle w3-margin w3-white w3-hover-shadow">
	<br>
	<br>
	<br>
	<div class="modal fade" id="addPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel" >Message:</h4>
                </div>
                <div class="modal-body">
                    <h5 class="w3-center">Product has been created with product ID : {{params[1]}}<h5>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
   
	<br>
  </div>
  
{% endblock %}
