{% extends "S_Dashboard.html" %}
{% block body %}
<!DOCTYPE html>
<html ng-app="myApp">
 <head>
   <style>
	    .list_data { margin-bottom: 2rem }
	    table, th, td { border: 1px solid #AAA }
	    th { cursor: pointer }
    </style>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
 

   <script>

        var app = angular.module("myApp", []);
        app.controller("RecordCtrl", function($scope,$http) {
        $scope.sortType     = 'name'; 
        $scope.sortReverse  = false;  
        $scope.searchKeywords   = '';    
        console.log("hhh");
        $scope.fetchData = function(){
        console.log("hi there");
            $http({
                method: 'POST',
                url: '/getWishListData',
        
            }).then(function(response) {
                 $scope.records=response.data
                 }, function(error) {
                console.log(error);
            });
        }
          $scope.fetchData();       
        });
    </script>
 </head>
<body  ng-controller="RecordCtrl" >
    <div class="panel panel-default">
        <div class="panel-heading" align="CENTER"><h3>Wish List Details</h3></div
  </div>
    <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Keywords" ng-model="searchKeywords">
      </div>      
    </div>
  </form>
            <div class="list_data">
        <table class="table w3-light-grey" >
            <thead align="top">
              <tr>
              <th>
                  <a href="#" ng-click="sortType = 'order_id'; sortReverse = !sortReverse">
                     Product Id
                    <span ng-show="sortType == 'order_id' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'order_id' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
              </th>
              <th>
                  <a href="#" ng-click="sortType = 'product_id'; sortReverse = !sortReverse">
                     Product Name
                    <span ng-show="sortType == 'product_id' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'product_id' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
              </th>
              <th>
                  <a href="#" ng-click="sortType = 'product_name'; sortReverse = !sortReverse">
                    Product Type
                    <span ng-show="sortType == 'product_name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'product_name' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
              </th>
              <th>
                  <a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">
                    Price
                    <span ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
              </th>  
              <th>
                  <a href="#" ng-click="sortType = 'quantity'; sortReverse = !sortReverse">
                    Quantity
                    <span ng-show="sortType == 'quantity' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'quantity' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
              </th>  
               <th>
                  <a href="#" ng-click="sortType = 'delivery_stauts'; sortReverse = !sortReverse">
                    Status
                    <span ng-show="sortType == 'delivery_stauts' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'delivery_stauts' && sortReverse" class="fa fa-caret-up"></span>
              </th>  
               <th>
                  <a href="#" ng-click="sortType = 'order_dt'; sortReverse = !sortReverse">
                   Wisher Id
                    <span ng-show="sortType == 'order_dt' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'order_dt' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
              </th>   
               
              </tr>
             </thead>
            <tr ng-repeat="record in records | orderBy:sortType:sortReverse | filter:searchKeywords" >
            
                            <td>{{'{{record.product_id }}'}}</td>
                            <td>{{'{{record.product_name  }}'}}</td>
                            <td>{{'{{record.Product_type  }}'}}</td>
                            <td>{{'{{record.price  }}'}}</td>
                            <td>{{'{{record.product_quantity}}'}}</td>
                            
                            <td>
                            <div ng-if="record.wish_stauts == 'PE'"  style="color:#F39E20;"> <b>Wished</b></div>
                            <div ng-if="record.wish_stauts == 'CO'"  style="color:#3CF320;" > <b>Delivered </b></div>
                            <div ng-if="record.wish_stauts == 'DI'"  style="color:#F3206D;" ><b> Declined</b> </div>
                           </td>
                            <td>{{'{{record.Wisher_id }}'}}</td>             
            </tr>
        </table>
</div>
      </div>
      </div>
    </div>
</body>

</html>
{% endblock %}